---
---

@import "{{ site.theme }}";

.page-header {
  position: relative;
  background-color: #CCCCCC99;
  background-image: linear-gradient(0, #00000094, #3a3a3afa);
  /* background-color: #159957; */
  /* background-image: linear-gradient(120deg, #155799, #159957); */
  
  video {
    object-fit: cover;
    object-position: bottom;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
